[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
imutils = "*"
numpy = "*"
tensorflow = "*"
opencv-python = "*"
socketio-client-nexus = "*"
argparse = "*"
pyautogui = "*"

[requires]
python_version = "3.6"
